INDEX:   &INDEX ${UKWA_INDEX}
ARCHIVE: &ARCHIVE ${UKWA_ARCHIVE}

collections:
    # reading room collection (locks and blocks only)
    reading-room:
        index_paths: *INDEX
        archive_paths: *ARCHIVE

        single-use-lock: true
        acl_paths:
            - ./acl/blocks.aclj

        add_headers:
          Cache-Control: 'max-age=0, no-cache, must-revalidate, proxy-revalidate, private'
          Expires: 'Thu, 01 Jan 1970 00:00:00 GMT'

        ext_redirects:
          'epub': '/static/viewers/epub_viewer/index.html?bookPath={0}'

        content_type_redirects:
          # allows
          'text/': 'allow'
          'image/': 'allow'
          'video/': 'allow'
          'audio/': 'allow'
          'application/javascript': 'allow'

          'text/rtf': 'https://example.com/viewer?{0}'
          'application/pdf': '/static/viewers/pdf_viewer/web/viewer.html?file={0}'

          'application/': 'allowed'

          # default redirects
          '<any-download>': 'https://example.com/blocked?url={0}'
          '*': 'https://example.com/blocked?url={0}'


    # open access (with access controls)
    open-access:
        index_paths: *INDEX
        archive_paths: *ARCHIVE

        acl_paths:
            - ./acl/blocks.aclj
            - ./acl/allows.aclj

        default_access: block

    # open access (with access controls) under /archive/
    archive:
        index_paths: *INDEX
        archive_paths: *ARCHIVE

        acl_paths:
            - ./acl/blocks.aclj
            - ./acl/allows.aclj

        default_access: block

    # QA no access controls
    qa-access:
        index_paths: *INDEX
        archive_paths: *ARCHIVE

    # QA no access controls
    #vid-qa:
    #    index_group:
    #      qa: *INDEX
    #      vidtest: collections/video-test/indexes

    #    archive_paths:
    #      - *ARCHIVE
    #      - collections/video-test/archive/

    in-test:
        index:
          type: cdx
          api_url: "http://cdx.api.wa.bl.uk/data-heritrix?url={url}&closest={closest}&sort=closest&filter=!statuscode:429&filter=!mimetype:warc/revisit"
          replay_url: ""
        archive_paths: "webhdfs://hdfs.api.wa.bl.uk"

    live:
        index: $live



proxy:
    # collection for proxy mode
    coll: qa-access
    ca_name: UKWA pywb HTTPS Proxy CA
    ca_file_cache: ./proxy-certs/pywb-ca.pem


# redirect to exact url behavior
redirect_to_exact: false

# enable memento
enable_memento: true

# enable experimental Memento Prefer
enable_prefer: true

# enable transclusions:
transclusions_version: 2

# i18n
locales_root_dir: ./i18n/translations/
locales:
  - en
  - cy

