{% if not embed_url %}
<!-- Custom Fixup Script -->
<script src="{{ static_prefix }}/fixup.js"> </script>

<!-- Video Transclusions -->
<script src="{{ static_prefix }}/transclusions.js"> </script>

{% endif %}

<!-- default banner, create through js -->
<script src='{{ static_prefix }}/default_banner.js'> </script>
<link rel='stylesheet' href='{{ static_prefix }}/default_banner.css'/>
<script>
window.banner_info = {
    is_gmt: false,
    logoImg: "{{ static_prefix }}/ukwa-2018-w-sml.png",

    liveMsg: decodeURIComponent("{{ _Q('Live On') }}"),

    calendarAlt: decodeURIComponent("{{ _Q('Calendar icon') }}"),
    calendarLabel: decodeURIComponent("{{ _Q('Back to Calendar') }}"),
    choiceLabel: decodeURIComponent("{{ _Q('Language:') }}"),
    loadingLabel: decodeURIComponent("{{ _Q('Loading...') }}"),
    logoAlt: decodeURIComponent("{{ _Q('UK Web Archive Logo') }}"),

    locale: "{{ env.pywb_lang | default('en') }}",
    curr_locale: "{{ env.pywb_lang }}",
    locales: {{ locales }},
    locale_prefixes: {{ get_locale_prefixes() | tojson }},
    prefix: "{{ wb_prefix }}",
    staticPrefix: "{{ static_prefix }}"
};
window.activeUrl = "{{ url }}";
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7571526-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-7571526-1');
</script>

