{% if not embed_url %}
<!-- Custom Fixup Script -->
<script src="/static/fixup.js"> </script>
{% endif %}

<!-- default banner, create through js -->
<script src='{{ host_prefix }}/{{ static_path }}/default_banner.js'> </script>
<link rel='stylesheet' href='{{ host_prefix }}/{{ static_path }}/default_banner.css'/>
<script>
window.banner_info = {
    ARCHIVED_ON: decodeURIComponent("{{ _Q('Archived On:') }}"),
    calendarAlt: decodeURIComponent("{{ _Q('Calendar icon') }}"),
    calendarLabel: decodeURIComponent("{{ _Q('Back to Calendar') }}"),
    choiceLabel: decodeURIComponent("{{ _Q('Language:') }}"),
    LIVE_ON: decodeURIComponent("{{ _Q('Live On') }}"),
    loadingLabel: decodeURIComponent("{{ _Q('Loading...') }}"),
    logoAlt: decodeURIComponent("{{ _Q('UK Web Archive Logo') }}"),

    locale: "{{ env.pywb_lang | default('en') }}",
    curr_locale: "{{ env.pywb_lang }}",
    locales: {{ locales }},
    prefix: "{{ wb_prefix }}"
};
window.activeUrl = "{{ url }}";
</script>
