<!DOCTYPE html>
<html lang="{{ env.pywb_lang | default('en') }}">
    <head>
        <title>UKWA Pywb Access System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ static_prefix }}/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="{{ static_prefix }}/base.css">
        <script src="{{ static_prefix }}/base.js"> </script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            <a href="{{ env.ORIG_SCRIPT_NAME }}/{{ env.pywb_lang + '/' if env.pywb_lang else ''}}" class="logo">
                <img src="{{ static_prefix }}/ukwa-2018-w-med.png" width="200" height="122" alt="{{ _('UK Web Archive logo') }}">
            </a>
            {% if not no_lang %}
            <div class="language-select">
                {{ _('Language:') }}
                <ul role="listbox" aria-activedescendant="{{ env.pywb_lang | default('en') }}" aria-labelledby="{{ _('Language select') }}">
                {% for locale in locales %}
                  <li role="option" id="{{ locale }}"><a href="{{ switch_locale(locale) }}">{{ locale }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </header>
        {% endblock %}

        <section>
        {% block body %}
        {% endblock %}
        </section>
    </body>
</html>
