<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UKWA Pywb Access System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="/static/base.css">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            <a href="/{{ env.pywb_lang | default('en') }}/" class="logo">
                <img src="/static/ukwa-full.svg" width="200" height="133" alt="{{ _('UK Web Archive logo') }}">
            </a>
            <div class="language-select">
                {{ _('Language:') }}
                <ul role="listbox" aria-activedescendant="{{ env.pywb_lang | default('en') }}" aria-labelledby="{{ _('Language select') }}">
                {% for locale in locales %}
                  <li role="option" id="{{ locale }}"><a href="/{{ locale }}/">{{ locale }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </header>
        {% endblock %}

        <section>
        {% block body %}
        {% endblock %}
        </section>
    </body>
</html>
