<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7571526-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-7571526-1');
</script>

<!-- Global site tag (gtag.js) - Google Analytics - GA 4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K5N6D6LKHP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K5N6D6LKHP');
</script>
