{% extends 'base.html' %}
{% set no_lang = True %}
{% block body %}
	<h2>Single-User Sessions and Locks</h2>
        <p>Current Session: {{ current }}&nbsp;<a href="/_logout">(logout)</a></p>
	{% if sessions %}
        <p><a href="/_locks/reset">(clear all)</a></p>
	<ul>
		{% for sesh, locks in sessions.items() %}
		<li class="session-lock">{{ sesh }}&nbsp;<a href="/_locks/clear/{{ sesh }}">(clear session)</a>
			<ul>
				{% for lock in locks %}
				<li class="url-lock">{{ lock }}&nbsp;<a href="/_locks/clear_url/{{ lock }}">(clear url lock)</a></li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<i>No Session Locks</i>
	{% endif %}
{% endblock %}
