<h2 class="" style="font-size: 1.2em; color: #0ab4ca;">The UK Legal Deposit Libraries provides access to this item on certain conditions</h2>
<div class="row" style="font-size: 14px;">
<div class="col-md-6">
	<p class="">
		We expect everyone to <strong>read and accept</strong> the following guidelines on appropriate
		use of Non-Print Legal Deposit material before they begin to view material using this
		system. All usage will be monitored. <strong>Infringement</strong> of these guidelines may lead to
		suspension of your reader pass and <strong>legal proceedings</strong> by the rights owner.
	</p>
	<h3 class="" style="font-size: 1em; color #0ab4ca;">Permitted use according to the Regulations</h3>
	<p class="">
		This material has been supplied to the library under the Non-Print Legal
		Deposit Regulations and as such its use is limited under these regulations.
	</p>
	<ul class="" >
		<li>
			<p>
				Digital copies of these items are not permitted, but printing is permitted in
				accordance with <a href="https://www.legislation.gov.uk/ukpga/1988/48/contents" target="_blank" style="color: #0ab4ca;">Copyright Regulations</a>. Details of the Copyright Regulations
				are on posters around the Reading Room.
			</p>
		</li>
		<li>
			<p>Text and data mining is not permitted on this content.</p>
		</li>
		<li>
			<p>
				For non-commercial research or private study of born-digital sheet music, fair
				dealing rules apply. The Music Publishers Association (MPA) guidelines advise that
				anything copied should be less than a performable piece to be used for study,
				and should not be intended or used for performance. A licence from the MPA
				will be needed for copying for performance.
			</p>
		</li>
		<li>
			<p>
				Non-Print Legal Deposit items can only be accessed by a single user at any
				one time therefore as soon as you have finished with an item please close
				the browser to allow another reader to access the content.
			</p>
		</li>
	</ul>
	<p>Full details can be found on the <a href="https://www.bl.uk/legal-deposit" target="_blank" style="color: #0ab4ca;">Legal Deposit web pages</a>.</p>
</div>
<div class="col-md-6">
	<p class="">
		If you intend to print, agreeing to the terms and conditions counts as an electronic signature to the following.
	</p>
	<div class="terms-conditions p-all-1coll" style="background-color: #f0f0f1; padding: 16px;">
		<p class="p-b-1col">I declare that:</p>
		<ol class="declaration">
			<li>
				<p class="h-overflow">
					I will not use the copy except for the purposes of research for non-commercial
					purpose, private study, criticism or review or reporting
					current events, parliamentary or judicial proceedings, or a Royal
					Commission or statutory inquiry.
				</p>
			</li>
			<li>
				<p class="h-overflow">
					In relation to a copy of relevant material required for the purposes
					of non-commercial research or private study:</p>
				<ol class="p-t-1col" style="list-style-type: lower-roman;">
					<li><p>I have not previously been supplied with a copy of the same
							material by you or another deposit library; and</p></li>

					<li><p>To the best of my knowledge, no person with whom I work or
							study has made or intends to make, at or about the same time
							as this request, a request for substantially the same material for
							substantially the same purpose.</p></li>
				</ol>
			</li>
		</ol>
		<p class="bold p-b-1col">I understand that, if the declaration above is false in a material particular,
			the printed copy supplied will be an infringing copy and that I shall be
			liable for infringement of the Copyright.</p>
		
	</div>
	<div class="user-info p-t-1col">
		<h6 class="sub-title">
			Please close the browser tab when you have finished viewing this item to allow others access.
		</h6>
	</div>

</div>
</div>