<h2 class="" style="font-size: 1.2em; color: #0ab4ca;">
	Mae Llyfrgelloedd Adnau Cyfreithiol y Deyrnas Gyfunol yn darparu mynediad i'r eitem hon o dan amodau penodol</h2>
<div class="row" style="font-size: 14px;">
<div class="col-md-6">
	<p class="">
		Disgwyliwn i bawb <strong>ddarllen a derbyn</strong> y canllawiau sy'n dilyn ar ddefnydd priodol o ddeunydd Adnau Cyfreithiol Di-brint cyn iddynt ddechrau defnyddio'r deunydd ar y system hon. Caiff pob defnydd ei fonitro. Gall torri'r canllawiau hyn arwain at atal eich tocyn darllen a dwyn achos cyfreithiol yn eich erbyn gan berchennog yr hawliau. 
	</p>
	<h3 class="" style="font-size: 1em; color #0ab4ca;">Defnydd a ganiateir gan y Rheoliadau</h3>
	<p class="">
		Cyflenwyd y deunydd hwn i'r Llyfrgell o dan Rheoliadau Adnau Cyfreithiol Di-brint ac felly mae defnydd ohono yn gyfyngedig o dan y rheoliadau hyn.
	</p>
	<ul class="" >
		<li>
			<p>
				Ni chaniateir copïau digidol o'r eitemau hyn ond caniateir argraffu yn unol â'r <a href="https://www.legislation.gov.uk/ukpga/1988/48/contents" target="_blank" style="color: #0ab4ca;">Rheoliadau Hawlfraint</a>. Mae manylion y Rheoliadau Hawlfraint i'w gweld ar bosteri yn yr Ystafell Ddarllen. 
			</p>
		</li>
		<li>
			<p>Ni chaniateir cloddio testun na data ar y deunydd hwn.</p>
		</li>
		<li>
			<p>
				Ar gyfer ymchwilio anfasnachol neu astudio preifat ar sgorau cerddoriaeth digianedig, mae rheolau delio teg yn berthnasol. Mae canllawiau'r Music Publishers Association (MPA) yn cynghori y dylai unrhyw beth sy'n cael ei gopïo fod yn llai na darn i'w pherfformio ar gyfer astudio ac heb fwriad i'w ddefnyddio ar gyfer perfformio. Bydd angen trwydded o'r MPA er mwyn copïo ar gyfer perfformio. 
			</p>
		</li>
		<li>
			<p>
				Dim ond un darllenydd ar y tro all gael mynediad i eitemau Adnau Cyfreithiol Di-brint felly cyn gynted â'ch bod wedi gorffen defnyddio'r eitem, caewch y porwr er mwyn caniatáu i ddefnyddiwr arall gael mynediad i'r cynnwys. 
			</p>
		</li>
	</ul>
	<p>Gellir dod o hyd i fanylion llawn ar dudalennau gwe <a href="https://www.bl.uk/legal-deposit" target="_blank" style="color: #0ab4ca;">Adnau Cyfreithiol</a>.</p>
</div>
<div class="col-md-6">
	<p class="">
		Os ydych yn bwriadu argraffu, mae cytuno i'r telerau a'r amodau yn cyfri fel llofnod electronig ar gyfer y canlynol.
	</p>
	<div class="terms-conditions p-all-1coll" style="background-color: #f0f0f1; padding: 16px;">
		<p class="p-b-1col">Yr wyf yn datgan:</p>
		<ol class="declaration">
			<li>
				<p class="h-overflow">
					Na fyddaf yn defnyddio'r copi heblaw at ddibenion ymchwil ar gyfer pwrpas anfasnachol, astudio preifat, beirniadaeth neu olygu neu adrodd ar ddigwyddiadau cyfoes, trafodion seneddol neu farnwrol, neu gomisiwn brenhinol neu ymchwiliad statudol.
				</p>
			</li>
			<li>
				<p class="h-overflow">
					Parthed copi o ddeunydd perthnasol sydd ei angen at ddibenion ymchwil anfasnachol neu astudio preifat: </p>
				<ol class="p-t-1col" style="list-style-type: lower-roman;">
					<li><p>Nad wyf wedi derbyn copi o'r blaen o'r un deunydd oddi wrthoch chi neu oddi wrth lyfrgell adnau arall; a</p></li>

					<li><p>Hyd y gwn i, nad oes neb arall yr wyf yn gweithio neu yn astudio gyda nhw, wedi gwneud neu yn bwriadu gwneud cais ar gyfer fwy neu lai yr un deunydd at fwy neu lai yr un pwrpas, ar yr un adeg neu tua'r un adeg, â'r cais hwn.</p></li>
				</ol>
			</li>
		</ol>
		<p class="bold p-b-1col">Deallaf os yw'r datganiad uchod yn anwir o ran manylyn perthnasol y bydd y copi printiedig a ddarperir yn un sydd yn torri'r rheoliadau ac y byddaf yn agored i gyhuddiad o dorri hawlfraint.</p>
		
	</div>
	<div class="user-info p-t-1col">
		<h6 class="sub-title">
			Caewch ffenest y porwr ar ôl ichi orffen edrych ar yr eitem hon er mwyn caniatáu mynediad i eraill.
		</h6>
	</div>

</div>
</div>